<!doctype html>
<html>
	<head>
		<title>to do :: saltire sable industries</title>
		<link rel='stylesheet' type='text/css' href='http://www.saltiresable.com/style.css' />
	</head>
	<body class='pic'>
		<div id='top'>
			<div class='backg'></div>
			<a class='rightlink' href='http://www.saltiresable.com'><img src='/saltiresable-small.png' alt='saltire sable.' /></a>
		</div>
		<h1 class='center'>to do.</h1>
		<h2 class='center'>cross 'em out.</h2>
		<div class='tasklists'>
{% for title, items in lists.items() %}
			<div class='tasklist'>
				<p>{{ title }}</p>
				<ul>
	{% for item in items %}
					<li>
		{{ item['title'] }}
					</li>
	{% endfor %}
				</ul>
			</div>
{% endfor %}
		</div>
	</body>
</html>
