<!doctype html>
<html>
	<head>
		<title>{% block title %}title{% endblock %} :: saltire sable industries</title>
		<link rel="shortcut icon" type="image/x-icon" href="http://www.saltiresable.com/favicon.ico" />
		<link rel='stylesheet' type='text/css' href='http://www.saltiresable.com/style.css' />
		<link rel='stylesheet' type='text/css' href='{{ root }}/static/tasks.css' />
		<script type=text/javascript>var webroot = {{ root|tojson|safe }};</script>
		<script type='text/javascript' src='{{ root }}/static/jquery-1.7.2.min.js'></script>
		<script type='text/javascript' src='{{ root }}/static/jquery-ui-1.8.21.sortable.min.js'></script>
		<script type='text/javascript' src='{{ root }}/static/jquery.mjs.nestedSortable.js'></script>
		<script type='text/javascript' src='{{ root }}/static/jquery.editable-1.3.3.min.js'></script>
		<script type='text/javascript' src='{{ root }}/static/script.js'></script>
	</head>
	<body class='pic'>
		<div id='top'>
			<div class='backg'></div>
			<a class='rightlink' href='http://www.saltiresable.com'><img src='http://www.saltiresable.com/saltiresable-small.png' alt='saltire sable.' /></a>
		</div>
		{% block content %}content goes here{% endblock %}
	</body>
</html>

