{% extends "layout.html" %}

{% block title %}to do{% endblock %}


{% macro draw_task(task) %}
	{% if task['completed'] %}
								<div id='task-{{ task["id"] }}' class='task completed'>
									<a class='checkbox'>&#x2713;</a>
	{% else %}
								<div id='task-{{ task["id"] }}' class='task'>
									<a class='checkbox'>&nbsp;</a>
	{% endif %}
									<a class='delete control' href='#'>&#xd7;</a>
									<a class='notetoggle control' href='#'>{% if task['notes'] %}&ndash;{% else %}+{% endif %}</a>
									<a class='split control' href='#'>s</a>
									<span class='tasktitle'>{{ task['title'] }}</span>
	{% if task['notes'] %}
									<span class='tasknotes'>{{ task['notes'] }}</span>
	{% endif %}
								</div>
	{% if task['children'] %}
								<ul>
		{% for child in task['children'] %}
									<li>
			{{ draw_task(child) }}
									</li>
		{% endfor %}
								</ul>
	{% endif %}
{% endmacro %}


{% block content %}
		<h1 class='center'>to do.</h1>
		<h2 class='center'>cross 'em out.</h2>
		<div class='taskmain'>
			<div class='tasknav'>
				<div class='buttons'>
					<a class='new' href='#'>&#xff0b;</a>
				</div>
				<div class='arrows'>
					<a class='prev' href='#'>&#x25c0;</a>
					<a class='next' href='#'>&#x25b6;</a>
				</div>
			</div>
			<div class='tasklist-view'>
				<div class='tasklists'>
{% for tasklist in lists %}
					<div class='tasklist-column'>
	{% if tasklist['start'] %}
						<div id='tasklist-{{ tasklist["id"] }}' class='tasklist start'>
	{% else %}
						<div id='tasklist-{{ tasklist["id"] }}' class='tasklist'>
	{% endif %}
							<div class='backg'></div>
							<a class='link' href='{{ root }}/tasklist/{{ tasklist["id"] }}'>&para;</a>
							<a class='add' href='#'>&#xff0b;</a>
							<h2 class='tltitle'>{{ tasklist['title'] }}</h2>
							<ul>
	{% for task in tasklist['items'] %}
								<li>
						{{ draw_task(task) }}
								</li>
	{% endfor %}
							</ul>
						</div>
					</div>
{% endfor %}
				</div>
			</div>
		</div>
{% endblock %}