/* generic */

a { color: #fff; text-decoration: none; }
a:hover { background: #b3b3a1; outline: 1px dotted #fff; }
a:focus { background: #ccccb8; outline: 1px dotted #fff; }

h1 { margin-bottom: 0; font-size: 80px; letter-spacing: -.06em; }
h2 { margin-top: 0; font-size: 30px; letter-spacing: -.06em; }

.center { text-align: center; }

.backg { height: 100%; width: 100%; background: #333330; opacity: 0.35;
	position: absolute; top: 0; left: 0; z-index: -1; }


/* main layout */

body { width: 100%; min-height: 100%; margin: 0 auto; color: #fff;
	font-family: "helvetica neue", helvetica, freesans, "nimbus sans", arial, sans-serif; }
body.pic { background: #F4F4DA url('http://farm4.static.flickr.com/3494/4030321825_e544aeb41d_o.jpg')
	top center no-repeat fixed; max-width: 1600px; }
	
body.pic .top { height: 30px; border-bottom: 1px dotted #f1f1da; position: relative; }
body.pic .top a.rightlink { margin: 0 12px; padding: 0 10px; float: right; }


/* links */

.linksmain { width: 1024px; margin: auto; }

.linksmain form { text-align: center; overflow: auto; }
.linksmain form input { padding: 8px 12px; border: 1px dotted #fff;
	background: #b3b3a1; color: #fff; font-size: 20px; float: left; }
.linksmain form input[type=text] { width: 420px; margin-right: 15px; }
.linksmain form input[type=submit] { width: 100px; }
.linksmain form input:focus { background: #ccccb8; }

.linkbox { margin: 15px 0; padding: 0 20px; border: 1px dotted #f1f1da; position: relative; }
.linklist { margin: 30px 0; }
.linklist a { padding: 5px 15px; white-space: nowrap; overflow: hidden; display: block; }

